@model IEnumerable<GrupoPrueba.Models.Catalogo>

@{
    ViewData["Title"] = "Case";  
}

<h1 style="text-decoration:none;
    font-size: 4em;
    color:#fa9600;
    text-align: center;
    font-weight: bold;">@ViewData["Title"]</h1>
  <div>
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3" style="margin-left: 10%; margin-right: 30%;" >
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="96" height="150" style="margin-left:35%;" 
                       src="/images/@item.ImagenName" alt="@item.ImagenName"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.Price) <b>soles </b></p>
                  <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id">Add</a>
                </div>
              </div>
            </div>
            }
         </div>
        </div>
      </div>
    </div>
  </div> 